{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Home
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- <div class="row">
          <div class="col-lg-4">
              <form action="/send_mail_plain" method="POST">
                 {% csrf_token %}
                 <div class="form-group">
                     <label for="">
                         Email:
                     </label>
                     <input type="text" name="email" class="form-control">
                 </div>
                 <div class="form-group">
                     <label for="">
                         Subject:
                     </label>
                     <input type="text" name="subject" class="form-control">
                 </div>
                 <div class="form-group">
                     <label for="">
                         Message:
                     </label>
                     <textarea name="message" class="form-control" rows="5"></textarea>
                 </div>
                 <div class="form-group">
                     <button type="submit" class="btn btn-success">Send </button>
                 </div>
             </form>
         </div>
      </div> -->
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

